* {
  box-sizing: border-box;
}

@font-face {
  font-family: defaultfont;
  src: url(NotoSerif-Italic.ttf);
}

HEADER{
	font-family: defaultfont;
	background-color: Yellow;
	padding: 1%;
	font-size: 30px;
}

.topnav{
	float: right;
	font-size: 20px;
}

SECTION{
	padding: 65%;
}

footer {
	background-color: #3333ff;
	padding: 0px;
	text-align: center;
	color: white;
}
